@font-face {
    font-family:'Aleo-Italic-Variable' ; 
    src: url("../assets/fonts/Aleo-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Onest-Variable";
    src: url("../assets/fonts/Onest-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Muli-Regular";
    src: url("../assets/fonts/Muli-Regular.ttf");
}
@font-face {
    font-family: "Muli-Black";
    src: url("../assets/fonts/Muli-Black.ttf");
}
@font-face {
    font-family:"Muli-Light";
    src: url("/assets/fonts/Muli-Light.ttf");
}