main{
    font-family:$fuente-principal;
    color: black;
    margin-bottom: 50px;
    .tituloPrincipal{
     font-family:'Muli-Regular' ;
     font-size: 3.5rem;
     width: 60%;
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
     text-align: center;
      h1{
      font-size:32px;
      }
      .carrusel{
         z-index: -10;
     }
     .h2index{
         font-family:"Montserrat", sans-serif;
         margin-top: 20px;
         text-align: center;   
     }
     .h2contacto{
         margin-bottom: 50px;
     }
 }
 }
 .contenedor{
    display: flex;
    justify-content:center;
}
.imagen{
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius:5px;
    width: 400px;
    display: flex;
    justify-content: center;
}
.textoInfo{
    margin-top: 50px;
    margin-left: 10px;
    width: 400px
}
.flexible{
    @include contenedorflexible(row);
}